/*General Webpage Config.*/
body {
    font-family: 'Raleway', sans-serif;
    background: #B1B1B1;
}

/*Carousel*/
.playbtn {
    color: gold;
    font-size: 162px;
    margin-bottom: 400px;
}

/*Soundtracks*/
.trackHead1 {
    font-size: 26px;
}
.soundtrack1 {
    padding-bottom: 20px;
}

.trackHead2 {
    font-size: 26px;
}
.soundtrack2 {
    padding-bottom: 20px;
}

.trackHead3 {
    font-size: 26px;
}
.soundtrack3 {
    padding-bottom: 20px;
}